header {
  background-color: gold;
  margin-bottom: 40px;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
}

header h1 {
  line-height: 1;
  margin-bottom: 0;
}

header p {
  margin-top: 0.5em;
}

.card {
  border: 1px solid grey;
  padding-bottom: 20px
}

.images {
  width: 100%;
}

.text{
  padding: 10px;
}

.text h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.text p {
  margin: 0.5em 0;
}